<%= form_for [@event, @invitation] do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "Name des Gasts" %>
  <%= f.label :guest_state, "Status" %>
  <%= f.select :guest_state_id, options_for_select(GuestState.all.map{|s| [s.label, s.id]}, @invitation.guest_state.present? ? @invitation.guest_state.id : nil) %>
  <%= f.label :qty, "Personen" %>
  <%= f.text_field :qty, :data => { :highlight => true }, min: 0, max: 10, type: "range" %>

  <%= f.button "Speichern" %>
<% end %>

<p></p>