<%= form_for [@event, @invitation] do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "Name des Gasts" %>

  <fieldset data-role="controlgroup">
    <%= f.label :invited, "Eingeladen" %>
    <%= f.check_box :invited %>
    <%= f.label :accepted, "Einladung angenommen" %>
    <%= f.check_box :accepted %>
    <%= f.label :payed, "Bezahlt" %>
    <%= f.check_box :payed %>
  </fieldset>

  <%= f.button "Speichern" %>
<% end %>

<p></p>