<%= form_for [@event, @invitation] do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "Name des Gasts" %>
  <%= f.select :guest_state_id, options_for_select(GuestState.all.map{|s| [s.label, s.id]}, @invitation.guest_state) %>

  <%= f.button "Speichern" %>
<% end %>

<p></p>