<div class="page-header">
  <h1><%= @invitation.name %><small>Datensatz anzeigen</small></h1>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" value="<%= @invitation.invited %>" disabled>
    Eingeladen
  </label>  
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" value="<%= @invitation.accepted %>" disabled>
    Angemeldet
  </label>  
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" value="<%= @invitation.payed %>" disabled>
    Bezahlt
  </label>  
</div>


<%= link_to 'Bearbeiten', edit_event_invitation_path(@event, @invitation), class: "btn btn-primary btn-lg btn-block" %>
<%= link_to 'Zurück zu den Gästen', event_invitations_path(@event), class: "btn btn-default btn-lg btn-block" %>