<h1><%= @event.name %></h1>
<h2><%= @invitation.name %></h2>


<div class="checkbox">
  <label>
    <input type="checkbox" value="<%= @invitation.invited %>" disabled>
    Eingeladen
  </label>  
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" value="<%= @invitation.accepted %>" disabled>
    Angemeldet
  </label>  
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" value="<%= @invitation.payed %>" disabled>
    Bezahlt
  </label>  
</div>