<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>InvitationPlanner</title>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.1/jquery.mobile.min.css", media: "all" %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.1/jquery.mobile.theme.min.css", media: "all" %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div data-role="page">

    <div data-role="header" style="overflow:hidden;">
      <h1>G&auml;steverwaltung</h1>

      <div data-role="navbar">
        <%= render partial: "navbar" %>
      </div>
    </div>

    <div role="main" class="ui-content">
      <%= yield %>
	  </div>

  </div>

  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.1/jquery.mobile.min.js" %>
  <%= javascript_include_tag "application" %>
  
</body>
</html>
